@import url(https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;908&displayswap);
*{
    font-family:'poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color:#3B2930;
    --second-bg-color:#311E25;
    --text-color:#fff;
    --main-color:#DB9A64;
}
html{
    font-size: 62.5%;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
    background: var(yellow);
}
.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar{
    position: relative;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-image: url('/images/home.jpg');
    background-size: cover;
    background-position: center;
}
.home-content{
    max-width: 60rem;
    
}
.home-content h1{
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content h1 span{
    color: var(--text-color);
}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.9px var(--main-color);
    /* background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s; */
}
/* .home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
} */
.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition:.5s;
}
.home-sci a:hover::before{
    width: 100%;
}
img{
    height: 500px ;
    width: 500px;
    position: absolute;
    right: 100px;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    z-index: -1;

}
/* .imghover{
    height: 500px;
    width: 500px;
    position: absolute;
    right: 150px;
    background: transparent;
    transition: 2s;
}
.imghover:hover{
    background:var(--bg-color);
    opacity: .8;
} */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--main-color);
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    /* border-radius: 50%; */
    border: .2rem solid var(--main-color);
    z-index: 1;

}
/* .about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: .3rem solid red ;
    border-right: .3rem solid red ;
     
} */
/* .circle-spin{
    animation: aboutSpinner 8s linear infinite;
} */
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
/* .education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
} */
.education-colum{
    flex: 1 1 40rem;
    /* display: grid;
    grid-template-columns: repeat(1,2fr);
    gap:4.5rem; */
}
.education-colum .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
    line-height: 10rem;
}
.education-colum .education-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* border-left: 2rem solid var(--main-color); */
}
.education-box .eucation-content{
    position: relative;
    padding-left: 2rem;
}
/* .education-box .eucation-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
} */
.eucation-content .content{
    position: relative;
    padding: 1.5rem;
    width: auto;
    height: auto;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.eucation-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.eucation-content .content:hover::before{
    width: 100%;
}
.eucation-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.eucation-content .content .year i{
    padding-right: .5rem;
}
.eucation-content .content h3{
    font-size: 2rem;
}
.eucation-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:var(--second-bg-color);
    border-radius: .6rem;
    z-index: -10;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,#su:focus~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn {
    cursor: pointer;
}
/* .contact{
    min-height: auto;
    padding-bottom: 7rem;

}
.contact form{
    display: inline;
    max-width: 70rem;
    margin: 0;
    text-align: left;
}
.contact form .input-box{
    position: relative;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,.contact form textarea
  {
    width: 100%;
    height: 50%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.textarea-field {
    width: 50%;
    height: 50%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:var(--second-bg-color);
    border-radius: .6rem;
    z-index: -10;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,#su:focus~.focus{
    width: 50%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 .7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    /* resize: none; */
}
.contact form .btn-box.btns .btn {
    cursor: pointer;
} */
/* .container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
} */

/* .heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
} */
.skills{
    background: var(--bg-color);
    padding-bottom: 6rem;
}
.container1 .heading1{
    font-size: 3rem;
}
.bar {
    font-size: 23px;
}

.technical-bars .bar {
    margin-top: 40px 0;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar:last-child {
    margin-bottom: 0;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}


.progress-line span{
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    width: 100%;
}

.progress-line.html span{
    width: 95%;
}

.progress-line.css span{
    width: 80%;
}

.progress-line.javascript span {
    width: 40%;
}

.progress-line.java span {
    width: 70%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: 90%;
}

.progress-line.css span::after {
    content: 70%;
}

.progress-line.javascript span::after {
    content: 50%;
}

.progress-line.java span::after {
    content: 75%;
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: var(--main-color);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100% {
        stroke-dashoffset: 120;;
    }
}

@keyframes animate-path2{
    100% {
        stroke-dashoffset: 240;
    }
}

@keyframes animate-path3{
    100% {
        stroke-dashoffset: 96;
    }
}

@keyframes animate-path4{
    100% {
        stroke-dashoffset: 70;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: left;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-icon a:hover::before{
    width: 100%;
}
.footer-icon a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-icon a:hover i{
    color: var(--main-color);
}

@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
    img{
        height: 400px ;
        width: 400px;
        position: absolute;
        right: 150px;
    }
    .education-colum .education-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        /* border-left: 2rem solid var(--main-color); */
    }
}
@media(max-width: 991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
    img{
        height: 300px ;
        width: 300px;
        position: absolute;
        top: 100px;
    }
}
@media (max-width: 768px) {
    .header {
        background:  var(--bg-color);
    }
     #menu-icon {
        display: block;
    } 
     .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav{
        transition-delay: .25s;
        left: 0;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a {
        transform: translateX(0); 
        transition-delay: .25s;
    }
    img{
        height: 200px ;
        width: 200px;
        position: absolute;
        top: 100px;
    }
    .input-field, .textarea-field {
        width: 100%;
    }
    .contact form .input-box .input-field {
        width: 100%;
    }
}
@media (max-width: 620px) {
    html{
        font-size: 50%;
    }
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }
    /* .home-sci {
        width: 160%;
    } */
    .home-sci a {
        width: 38px;
        height: 38px;
    }
    img{
        height: 150px ;
        width: 150px;
        position: absolute;
        top: 80px;
    }
    .imghover{
        height: 150px ;
        width: 150px;
        position: absolute;
        top: 80px;
    }
    .education-colum .education-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        /* border-left: 2rem solid var(--main-color); */
    }
}
@media (max-width: 462px){
    .home-content h1 {
        font-size: 5.2rem;
    }
    .education{
        padding: 10rem 4% 5rem;
    }
    
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}
@media (max-width: 371px) {
    .home{
        justify-content: center;
    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }
}

@keyframes homeBgText {
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
    
}
@keyframes homeCursorText {
    0%,10%,100%{
        width: 0;
    }
    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }
    75%,81% {
        opacity: 0;
    }
    
}
@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    
}
@keyframes showRight {
    100%{
        width: 0;
    }
    
}
